:root {
  --font-family-sans-serif: 'Inter', sans-serif;
}

body {
  font-family: var(--font-family-sans-serif);
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  max-height: 15vh;
}

.navbar-badge {
  display: inline-block;
  font-size: 0.6rem;
  font-weight: 300;
  padding: 2px 4px;
  position: relative;
  right: 6px;
  top: -9px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.active {
  border-bottom: 2px solid #e4353a;
}
.active .nav-link {
  color: #e4353a !important;
}
.user-menu .user-img {
  border-radius: 50%;
  float: left;
  height: 2.1rem;
  margin-right: 10px;
  margin-top: -2px;
  width: 2.1rem;
}

.img-circle {
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
}

.welcome_user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  font-size: 18px;
  font-weight: 600;
}
.welcome_user > span {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -1px;
  text-align: left;
}

.summary_text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 56px;

  /* identical to box height, or 114% */
  letter-spacing: -1px;
  color: #1f499d;
}

.tariff_list_container {
  background: #ffffff;
  /* Color/Dark - Grey - Neutral/Grey/Grey 1 */
  border: 1px solid #e4e4e4;
  border-radius: 16px;
}

.chart_card {
  background: linear-gradient(180deg, #e4353a 0%, #254291 100%);
  border-radius: 24px;
}

.custom_shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.chart-section {
  background: #ffffff;
  border-radius: 16px;
  padding: 0.5rem 1.5rem;
}

.price {
  font-weight: 500;
  font-size: 25px;
  letter-spacing: -0.5px;
}

.price_note {
  font-weight: 600;
  font-size: 14px;
  color: #7fba7a;
}

#cogMenu {
  padding: 0;
}

#cogMenu .dropdown-item {
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
}
#cogMenu .dropdown-item:hover {
  background: #164399;
}
#cogMenu .dropdown-item:first-of-type {
  border-radius: 12px 12px 0 0;
}
#cogMenu .dropdown-item:last-of-type {
  border-radius: 0 0 12px 12px;
}
